body{
    
}

#banner{
    width: 100%;
}

.principal{
    background: #ffffff;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px
}

.titulo-centralizado{
    text-align: center;
    color:aquamarine;
    background:#0044ff
}
p{
    text-align: center;
}

#missão {
    font-size: 20px;
}

em strong{
    color:rgb(0, 217, 255)
}

.itens{
    font-style: italic;
    padding: ;
}

.beneficios{
    background: #37e8ff;
    padding:20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width:20%;
    margin-right:15%;
}

.imagembeneficios{
    width: 50%;
}